<p>Questa è la vista per l'inserimento delle rilevazioni.</p>
<div class="alert alert-success" role="alert" ng-show="insertedNewRecord"><i class="fa fa-thumbs-up"></i> Hai inserito un nuovo record</div>
<div class="alert alert-warning" role="alert" ng-show="deletedRecord"><i class="fa fa-thumbs-up"></i> Hai cancellato un record</div>
<div class="alert alert-danger" role="alert" ng-show="errorSaving"><i class="fa fa-thumbs-down"></i> Errore in fase di salvataggio su DB.</div>

<div class="row-fluid">
  <div class="col-lg-12">

    <div class="col-lg-8">

      <table class="table table-striped">
        <thead>
        <tr>
          <th ng-click="click('ril_id')">Id<i ng-class="(reverse == true) ? 'fa fa-caret-down' : 'fa fa-caret-up'"></i></th>
          <th>Struttura</th>
          <th>Anno</th>
          <th>Cartella</th>
          <th>Ass_ipca</th>
          <th>Tipo</th>
          <th>Valore<input ng-model="valoreSearch"></th>
          <th>Note</th>
          <th>Data</th>
          <th>Utente Ins.</th>
          <th>Data Ins.</th>
          <th>Modifica</th> <!-- intestazione del "modifica" -->
          <th>Cancella</th> <!-- intestazione del "cancella" -->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in allRilevazioniData |  orderBy:sort:reverse | filter:valoreSearch">
          <td>{{data.ril_id}}</td>
          <td>{{data.ril_str_str}}</td>
          <td>{{data.ril_ric_anno}}</td>
          <td>{{data.ril_ric_cartella}}</td>
          <td>{{data.ril_ass_ipca}}</td>
          <td>{{data.ril_tipo}}</td>
          <td>{{data.ril_val}}</td>
          <td>{{data.ril_note}}</td>
          <td>{{data.ril_data}}</td>
          <td>{{data.ril_ute_ins}}</td>
          <td>{{data.ril_data_ins}}</td>
          <td><i class="fa fa-pencil" ng-click="editItem(data)"></i></td>
          <td><i class="fa fa-remove" ng-click="removeItem(data.ril_id)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-4">
      <form name="RilData" class="form-horizontal" role="form" >
        <div class="form-group">
          <label for="ril_str_str" class="col-sm-2 control-label">Struttura</label>

          <div class="col-sm-10">
            <input type="input" name="ril_str_str" class="form-control" id="ril_str_str" placeholder="Struttura" ng-model="ril_str_str" ng-pattern="/^[0-9]{1,5}$/" required>
            <span  ng-show="RilData.ril_str_str.$error.pattern">Formato struttura non valido!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="ril_ric_anno" class="col-sm-2 control-label">Anno</label>

          <div class="col-sm-10">
            <input type="input" class="form-control" id="ril_ric_anno" placeholder="Anno" ng-model="ril_ric_anno" ng-pattern="/^[0-9]{1,4}$/" required>
            <div  ng-show="RilData.ril_ric_anno.$error.pattern">Formato anno cartella non valido!</div>
          </div>
        </div>
        <div class="form-group">
          <label for="ril_ric_cartella" class="col-sm-2 control-label">Cartella</label>
          <div class="col-sm-10">
            <input type="input" class="form-control" id="ril_ric_cartella" placeholder="Cartella" ng-model="ril_ric_cartella" ng-pattern="/^[0-9]{1,12}$/" required>
            <span  ng-show="RilData.ril_ric_cartella.$error.pattern">Formato numero cartella non valido!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="ril_ass_ipca" class="col-sm-2 control-label">Ass_ipca</label>
          <span  ng-show="RilData.ril_ass_ipca.$error.pattern">Formato id paziente non valido!</span>
          <div class="col-sm-10">
            <input type="input" class="form-control" id="ril_ass_ipca" placeholder="Ass_ipca" ng-model="ril_ass_ipca" required>
          </div>
        </div>

        <div class="form-group">
          <label for="ril_tipo" class="col-sm-2 control-label">Tipo</label>

          <div class="col-sm-10">
            <input class="form-control" id="ril_tipo" placeholder="Tipo" ng-model="ril_tipo" required>
          </div>
        </div>

        <div class="form-group">
          <label for="ril_val" class="col-sm-2 control-label">Valore</label>

          <div class="col-sm-10">
            <input class="form-control" id="ril_val" placeholder="Valore" ng-model="ril_val" required>
          </div>
        </div>

        <div class="form-group">
          <label for="ril_note" class="col-sm-2 control-label">Note</label>

          <div class="col-sm-10">
            <input class="form-control" id="ril_note" placeholder="Note" ng-model="ril_note" required>
          </div>
        </div>

        <div class="form-group">
          <label for="ril_data" class="col-sm-2 control-label">Data</label>

          <div class="col-sm-10">
            <input class="form-control" id="ril_data" placeholder="Data" ng-model="ril_data" required>
          </div>
        </div>

        <div class="form-group">
          <label for="ril_ute_ins" class="col-sm-2 control-label">Utente Ins.</label>

          <div class="col-sm-10">
            <input class="form-control" id="ril_ute_ins" placeholder="Utente Inserimento" ng-model="ril_ute_ins" required>
          </div>
        </div>

        <div class="form-group">
          <label for="ril_data_ins" class="col-sm-2 control-label">Data Ins.</label>

          <div class="col-sm-10">
            <input class="form-control" id="ril_data_ins" placeholder="Data Inserimento" ng-model="ril_data_ins" required>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10" ng-hide="editRecord">
            <button type="submit" class="btn btn-default" ng-click="createOrUpdate()" ng-disabled="RilData.$invalid">Aggiungi <i class="fa fa-plus"></i></button>
            <button type="submit" class="btn btn-success" ng-click="saveOnDB()" ng-disabled="RilData.$invalid">Salva <i class="fa fa-chevron-right"></i></button>
          </div>
          <div class="col-sm-offset-2 col-sm-10" ng-show="editRecord">
            <button type="submit" class="btn btn-info" ng-click="edit()" ng-disabled="RilData.$invalid">Modifica <i class="fa fa fa-pencil"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
